nodejs-restapi-social-media-site/node_modules
nodejs-restapi-social-media-site/.env


social-media-app/node_modules
social-media-app/.env


socket/node_modules

model_flask_app/.venv
model_flask_app/__pycache__